*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: inherit;
}
button{
  border: none;
  outline: none;
  padding: 6px 10px;
  cursor: pointer;
}
body{
  background-color: #501177;
}
.container{
  width: 90%;
  margin: 0 auto;
}
.header{
  background-color:#C911AA;
  width: 100%;
}
.nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  color: white;
}
.nav_list{
  display: flex;
  gap: 30px;
}
.nav_list li{
  font-size: 20px;
  cursor: pointer;
  padding: 10px;
  border-radius: 20px;
  border: 1px solid gainsboro;
  transition: .3s;
}
.nav_list li:hover{
  border-color: #7E118A;
  color: #7E118A;
}
.row{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  margin-top: 20px;
}
.card{
  width: 250px;
  min-height: 300px;
  border: 3px solid #7E118A;
  text-align: center;
  border-radius: 10px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}
.card_header{
  margin: 10px 0;
}
.card_body{
  margin-bottom: 20px;
}
.card_body img{
  width: 100%;
  height: 200px;
  object-fit: contain;
}
.card_body p{
  margin-bottom: 10px;
  font-size: 20px;
}
.card_body h3{
  font-size: 25px;
}
.card_footer button{
  margin: 0 10px;
  border-radius: 10px;
  color: white;
}
.del{
  background-color: red;
}
.edit{
  background-color: rgb(141, 141, 2);
}
.create{
  background-color: green;
}
.logout, .create{
  font-size: 20px;
  border-radius: 20px;
}
.logout{
  background-color: red;
}
.createInputs{
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  display: none;
}
.createInputs.active{
  display: block;
}
.inputs{
  border: 3px solid salmon;
  width: 250px;
  min-height: 300px;
  margin-left: 50%;
  transform: translateX(-50%);
  border-radius: 10px;
}
.inputs div{
  margin: 15px 0;
}
.inputs div input{
  padding: 12px 10px;
  width: 200px;
}
.createBtn{
  font-size: 20px;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  background-color: salmon;
}
.btn_header{
  display: none;
}
.btn_close{
  display: none;
}

@media (max-width: 730px) {
  .btn_close{
    display: block;
  }
  .header{
    position: absolute;
    top: -100%;
    transition: .5s;
  }
  .btn_header{
    display: block;
  }
  .header.active{
    top: 0;
  }
  .nav h1{
    display: none;
  }
  .nav_list{
    flex-direction: column;
    flex-wrap: wrap;
    width: 50%;
    text-align: center;
  }
}